@using EntityLayer.Concrete
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Hakkında Veri Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Hakkımda Başlığı</th>
        <th>Durumu</th>
        <th>Aktif Yap</th>
        <th>Pasif Yap</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            
            <td>@item.AboutID</td>
            <td>Başlık</td>
            <td>
                @if (item.AboutStatus == true)
                {
                    <span class="badge bg-success">Aktif</span>
                }
                else
                {
                    <span class="badge bg-danger">Pasif</span>
                }
            </td>
            <td><a href="/About/AboutActive/@item.AboutID" class="btn btn-warning">Aktif Yap</a></td>
            <td><a href="/About/AboutPassive/@item.AboutID" class="btn btn-danger">Pasif Yap</a></td>
        </tr>
    }
</table>

<button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Yeni Hakkımızda Yazı Girişi
</button>



@Html.Action("AboutPartial","About")